.content_wrapper{
    width: 47vw;
    min-height: 300px;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    justify-content: space-around;
}

.content{
    word-wrap: break-word;
    background-color: #d8d8d8;
    padding: 5px;
    margin: 15px;
}

.textarea{
    width: 97%;
    margin: 5px;
}

.button_remove-wrapper{
    display: flex;
    justify-content: center;
}

.form_edit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}